
  .hero-img{
    position: relative;
    width: 50%;
    /* background-color: red; */
    /* overflow: hidden; */
    margin: 0 auto;
    padding: 20px 0 0 0 ;
    height: 100%;
  }

  .hero-img .girl{
    position: absolute;
    border-radius: 0 0 50% 50%;
    width: 130%;
    height: 110%;
    bottom: -0.85%;
  }
  .hero-img .img3{
    width: 125% ;
    bottom: -12%;
    left: -12% !important;
    position: absolute;
    border-radius: 80%;
    /* width: 140%; */
    height: 110%;
    /* bottom: -0.78%; */
  }
  .header{
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 58%,rgba(9, 2, 3, 1)75%,rgb(219, 101, 101) 175%
  );
  }
  .x{
    width: 320px;
    height: 300px;
    background-color: #f65f5f;
    /* border-radius: 50%; */
    border-radius: 45% 45% 40% 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
    position: relative;
    /* overflow-: hidden; */
  }
  .fire{
    width: 16%;
    position: absolute;
    top: -23%;
    filter: brightness(70%);

  }
  .plant{
    position: absolute;
    width: 35%;
    left: 80%;
    bottom: 85%;
    transform: rotate(90deg);
    filter: brightness(55%);
  }
  .dish4{
    position: absolute;
    width: 24%;
    right: -13%;
    bottom: 10%;
  }
  .dish2{
    position: absolute;
    width: 32%;
    right: 10%;
    bottom: -20%;
    z-index: 1;
  }
  .dish1{
    position: absolute;
    width: 32%;
    left: 12%;
    bottom: -20%;
    z-index: 1;
  }
  .dish3{
    position: absolute;
    width: 25%;
    left: -15%;
    bottom: 10%;
    z-index: 1;
  }
  .hero-text{
    color: #fff;
    font-family: cursive;
    line-height: 1.4;
    font-weight: bold;
  }