.about{
    /* background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 58%,rgba(9, 2, 3, 1)75%,rgb(219, 101, 101) 175%); */
}
.about h2{
    color: #f65f5fb8;
    text-shadow: 7px 9px 20px #fdd703;
  }
  